<router-outlet></router-outlet>
<div class="container-fluid">
   <br><br><br><br>
</div>
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualité, tout pour satisfaires nos clients<br>
                    </p>
                  <button type="button" class="btn btn-danger btn-lg"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/TN2410.png" class="card-img-top" alt="TN2410"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualités, tout pour satisfaires nos clients<br>
                    </p>
                    <button type="button" class="btn btn-danger btn-lg"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/HP301.png" class="card-img-top" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualités, tout pour satisfaires nos clients<br>
                    </p>
                    <button type="button" class="btn btn-danger btn-lg"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/TN243.png" class="card-img-top" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualités, tout pour satisfaires nos clients<br>
                    </p> 
                    <button type="button" class="btn btn-danger btn-lg"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/HP304.png" class="card-img-top" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
    <!--slide end--> 
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4" style="background-color:lightgrey;">
        <h4 class="text-white" style="text-align: center; background-color: darkgreen;">INFORMATIQUE et BUREAUTIQUE</h4>
        <h5 class="card-text" style="text-align: justify;">
          L'informatique et la Bureautique, c'est notre affaire.
          Nous distribuons du matériel informatique et bureatique de différentes marques Apple, HP, Lenovo, Dell,Asus, Brother, Canon, Sharp et autres 
          sans oublier les divers logiciels adaptés à vos besoins. Nous travaillons avec les entreprises comme avec les particiuliers
          et sommes en tout temps disposés à vous proposer des solutions adaptées àvos activités 
          ainsi qu'à votre taille alors, n'hésitez pas à nous contacter.
        </h5>
        <h4>Une question ou un besoin ? &nbsp;&nbsp;<span><button type="button" class="btn btn-danger btn-lg">Contactez-nous!</button></span></h4>
    </div>
    <div class="col-sm-4" style="background-color:lightgrey;">
        <h4 class="text-white" style="text-align: center;background-color: darkgreen;">CONSOMMABLES</h4>
        <h5 class="card-text" style="text-align: justify;">
            Pour tout vos besoins en consommables, nous disposons d'une gamme très large de produits.
            Nous distribuons des consommables des différentes marques les plus connues sur le marché informatique
            et bureautique. 
            Ceci inclue les cartouches d'encre pour les impréssion à jet d'encre tout comme
            les toners pours les impréssions laser. Pour des raisons écologiques et économiques,
            nous faisons également de la recharge des cartouches.
        </h5>
          <h4>Une question ou un besoin ? &nbsp;&nbsp;<span><button type="button" class="btn btn-danger btn-lg">Contactez-nous!</button></span></h4>
          
        
    </div>        
    <div class="col-sm-4" style="background-color: lightgrey;">
      <h4 class="text-white" style="text-align: center;background-color: darkgreen;">OUTILS & ACCESSOIRES</h4>
      <h5 class="card-text" style="text-align: justify;">
        Les accessoires informatique et bureautique sont aussi distribués chez nous. Vous pourrez trouver tout ce qui concerne le stockage, cablage et autres accessoires réseaux, bref les pièces détachés pour 
        ordinateurs, imprimantes, copieurs etc des différentes marques. très souvent, il suffit de juste changer un accessoires ou une pièce dans une machine
        pour lui rendre sa pleine forme. Nos techniciens sont à votre dispositions pour tout conseil nécessaire.
      </h5>
      <h4>Une question ou un besoin ? &nbsp;&nbsp;<span><button type="button" class="btn btn-danger btn-lg">Contactez-nous!</button></span></h4>
    </div>
</div>
<br>  

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="background-color:orange;">&nbsp;</div>
    <div class="col-sm-6" style="background-color:orange;">&nbsp;</div>
    
  </div>
   
  <div class="card-deck">
    <div class="card text-center" style="width: 18rem;">
      <img src="assets/Images/HP Designjet Z9.png" class="card-img-top" alt="..." height="350" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>HP Designjet Z9</strong><span class="badge badge-secondary">New</span></h5>
        <p class="card-text">Imprimante HP Designjet, grand format de A4 à A1, pour des impréssions de grande précision.</p>
        <h5 class="card-title"><strong>Prix : 2 275,00 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg"><strong>Ajouter</strong></button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/Brother DCP-L3550CDW.png" class="card-img-top" alt="..." height="350" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>Brother DCP-L3550CDW</strong></h5>
        <p class="card-text">Copieur Brother DCP-L3550CDW, grande production allant jusqu'à 50 copies/minute en A4 80 g/m2.</p>
        <h5 class="card-title"><strong>Prix : 2 560,00 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg"><strong>Ajouter</strong></button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/lenovo Ideapad slim1.jpg" class="card-img-top" alt="..." height="350" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>LENOVO IDEAPAD SLIM1</strong><span class="badge badge-secondary">New</span></h5>
        <p class="card-text">Pc portable Lenovo IDEAPAD SLIM1 14" 8Go RAM, 120 Go DD SD processeur i5 2,7 Ghz.</p>
        <h5 class="card-title"><strong>Prix : 299,00 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg"><strong>Ajouter</strong></button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/LDLC PC In extensor-SSD.jpg" class="card-img-top" alt="..." height="350" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>LDLC PC In extensor-SSD</strong></h5>
        <p class="card-text">Pc de bureau LDLC PC In extensor-SDD Optiplex 790 Processeur i3 1,8 Ghz, 1 To DD 7200 tr/min 16 Go RAM extensible à 64Go...</p>
        <h5 class="card-title"><strong>Prix : 885,20 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg"><strong>Ajouter</strong></button>
      </div>
    </div>
  </div>

  <br> 
  <div class="row">
    <div class="col-sm-6" style="background-color:orange;">&nbsp;</div>
    <div class="col" style="background-color:orange;">&nbsp;</div>
    
  </div>
  <br>

</div>
  

     <!-- Footer -->
    <div class="container-fluid">        
        <footer class="page-footer font-small blue-grey lighten-5">

          <div style="background-color: #21d192;">
            <div class="container">

              <!-- Grid row-->
              <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                  <h6 class="mb-0">Restez connectés avec nous sur les réseaux sociaux</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                  <!-- Facebook -->
                  <a  class="fb-ic">
                    <i class="fab fa-facebook-f white-text mr-4"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                  </a>
                  <!-- Google +-->
                  <a class="gplus-ic">
                    <i class="fab fa-google-plus-g white-text mr-4"> </i>
                  </a>
                  <!--Linkedin -->
                  <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                  </a>
                  <!--Instagram-->
                  <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                  </a>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row-->

            </div>
          </div>

          <!-- Footer Links -->
          <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">BOUTIKLINE</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Boutline, votre partenaire privilegié dans les solutions informatiques,consommables et accessoires.
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Produits</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a class="dark-grey-text" href="#!">PC portables & Desktop</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Encres & Toners</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Accessoires</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Services</a>
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a class="dark-grey-text" href="#!">Votre compte</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">S'affilier</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Coûts d'expédition</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Aide</a>
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <i class="fas fa-home mr-3"></i>Bd Albert II 78,1080 Bruxelles
                  <i class="fas fa-print mr-3"></i> +32 02/23 236 63</p>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
            <a class="dark-grey-text" href="#">Yamtoingar Antoine</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
      </div>
  
  
