<router-outlet></router-outlet>
<div class="container-fluid">
   <br><br><br><br>
</div>

<app-produit-detail-modal
[selectedProduct]=this.selectedProduct
></app-produit-detail-modal>

<div class="bg">
  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualité, tout pour satisfaires nos clients<br>
                    </p>
                  <button type="button" class="btn btn-danger btn-lg" (click) = "gotoPageAchats()"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/3.png" class="card-img-top" alt="TN2410"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualités, tout pour satisfaires nos clients<br>
                    </p>
                    <button type="button" class="btn btn-danger btn-lg" (click) = "gotoPageAchats()"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/5.png" class="card-img-top" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualités, tout pour satisfaires nos clients<br>
                    </p>
                    <button type="button" class="btn btn-danger btn-lg" (click) = "gotoPageAchats()"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/7.png" class="card-img-top" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h1 style="background-color:navajowhite; text-align: center;">Bienvenue sur BOUTIKLINE</h1>
                   <h1 style="background-color: teal;text-align: right;"><span class="badge badge-pill badge-info">Informatique-Bureautique</span></h1>
                   <h1 style="background-color:steelblue;text-align: right;"><span class="badge badge-pill badge-info">Consommables</span></h1>
                   <h1 style="background-color:lightseagreen;text-align: right;"><span class="badge badge-pill badge-info">Accessoires</span></h1>
                  <p>Nos produits et services de qualités, tout pour satisfaires nos clients<br>
                    </p> 
                    <button type="button" class="btn btn-danger btn-lg" (click) = "gotoPageAchats()"><strong>ACHETER MAINTENANT</strong></button>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/Images/9.png" class="card-img-top" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
    <!--slide end--> 
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4" style="background-color:lightgrey;">
        <h4 class="text-white" style="text-align: center; background-color: darkgreen;">INFORMATIQUE et BUREAUTIQUE</h4>
        <h6 class="card-text" style="text-align: justify;">
          L'informatique et la Bureautique, c'est notre affaire.
          Nous distribuons du matériel informatique et bureatique de différentes marques Apple, HP, Lenovo, Dell,Asus, Brother, Canon, Sharp et autres 
          sans oublier les divers logiciels adaptés à vos besoins. Nous travaillons avec les entreprises comme avec les particiuliers
          et sommes en tout temps disposés à vous proposer des solutions adaptées àvos activités 
          ainsi qu'à votre taille alors, n'hésitez pas à nous contacter.
        </h6>
        <h4>Une question ou un besoin ? &nbsp;&nbsp;<span><button type="button" class="btn btn-danger btn-lg" (click) = "gotoPageContact()">Contactez-nous!</button></span></h4>
    </div>
    <div class="col-sm-4" style="background-color:lightgrey;">
        <h4 class="text-white" style="text-align: center;background-color: darkgreen;">CONSOMMABLES</h4>
        <h6 class="card-text" style="text-align: justify;">
            Pour tout vos besoins en consommables, nous disposons d'une gamme très large de produits.
            Nous distribuons des consommables des différentes marques les plus connues sur le marché informatique
            et bureautique. 
            Ceci inclue les cartouches d'encre pour les impréssion à jet d'encre tout comme
            les toners pours les impréssions laser. Pour des raisons écologiques et économiques,
            nous faisons également de la recharge des cartouches.
        </h6>
          <h4>Une question ou un besoin ? &nbsp;&nbsp;<span><button type="button" class="btn btn-danger btn-lg" (click) = "gotoPageContact()">Contactez-nous!</button></span></h4>
          
        
    </div>        
    <div class="col-sm-4" style="background-color: lightgrey;">
      <h4 class="text-white" style="text-align: center;background-color: darkgreen;">OUTILS & ACCESSOIRES</h4>
      <h6 class="card-text" style="text-align: justify;">
        Les accessoires informatique et bureautique sont aussi distribués chez nous. Vous pourrez trouver tout ce qui concerne le stockage, cablage et autres accessoires réseaux, bref les pièces détachés pour 
        ordinateurs, imprimantes, copieurs etc des différentes marques. très souvent, il suffit de juste changer un accessoires ou une pièce dans une machine
        pour lui rendre sa pleine forme. Nos techniciens sont à votre dispositions pour tout conseil nécessaire.
      </h6>
      <h4>Une question ou un besoin ? &nbsp;&nbsp;<span><button type="button" class="btn btn-danger btn-lg" (click) = "gotoPageContact()">Contactez-nous!</button></span></h4>
    </div>
</div>
<br>  

</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="background-color:orange;">&nbsp;</div>
    <div class="col-sm-6" style="background-color:orange;">&nbsp;</div>
  </div>
  <div class="col-sm-1">
      
  </div>
                <table class="table table-responsive">

                  <thead style="background-color: darkseagreen;">
                  <!-- <tr>
                    <th scope="col">ID</th> 
                    <th scope="col">NOMS</th>
                    <th scope="col">PRENOMS</th>
                    <th scope="col">ADRESSE</th>
                    <th scope="col">CODE POSTAL</th>
                    <th scope="col">VILLE</th>
                    <th scope="col">CONTACT</th>
                    <th scope="col">Email</th>
                    <th scope="col">CIVILITE</th>
                    <th scope="col">Actions</th>
                  </tr> -->
                </thead> 

                <tbody>
                    <div class="row">
                      
                      <tr *ngFor = "let prod of lesproduits | orderBy: key: reverse | paginate: {itemsPerPage: 7, currentPage: p }">
                        <!-- <tr *ngFor = "let prod of lesproduits"> -->
                            
                              <div class="col">
                                
                                    <td>
                                      <div class="card text-center" style="width: 20rem;">
                                        <!-- <img style="max-width:100%;" src="{{(!prod.photo) ? this.boutiqueContainer + 'logo-product.jpg' : this.boutiqueContainer + prod.photo}}" alt="nope" width="200" height="100"> -->
                                        <a href data-toggle="modal" data-target="#modalDetProduits" (click) = "getProduit(prod.Id)"><img src= "{{(!prod.photo) ? this.boutiqueContainer + 'logo-product.jpg' : this.boutiqueContainer + prod.photo}}" class="card-img-top" alt="..." height="200" width="100"></a>
                                          <div class="card-body">
                                            <h5 class="card-title"><strong>{{prod.libelleProd}}</strong></h5>
                                            <p class="card-text">{{prod.description}}</p>
                                            <h5 class="card-title"><strong>PRIX HT</strong></h5>
                                            <h5 class="card-title"><strong>{{prod.prix}} EUR</strong></h5>
                                            <!-- <button class="btn btn-info btn-lg"><strong>Ajouter au panier</strong></button> -->
                                          </div>
                                      </div>
                                    </td>
                                    
                            </div>
                        </tr>  
                    </div>    
                </tbody>
                <pagination-controls (pageChange)="p = $event"></pagination-controls> 
              </table>
  <br> 
  <div class="row">
    <div class="col-sm-6" style="background-color:orange;">&nbsp;</div>
    <div class="col" style="background-color:orange;">&nbsp;</div>
    
  </div>
  <br>

</div>
<div class="bgfooter">
     <!-- Footer -->
     <app-piedpage></app-piedpage> 
</div>

