<router-outlet></router-outlet>

<br><br><br>
<div class="container">
    <h1 style="text-align: center;">DETAILS PANIER</h1>
    <h3>Achat N°: 1102</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID PRODUIT</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">QUANTITE</th>
                    <th scope="col">PRIX</th>
                    <th scope="col">MONTANT-EUR.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">CA1240</td>
                    <td>Toner Canon 1240</td>
                    <td>2</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;43,00</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;86,00</td>
                </tr>
                <tr>
                    <td scope="row">COP1214</td>
                    <td>Copieur Canon 1214</td>
                    <td>1</td>
                    <td>1.645,00</td>
                    <td>1.645,00</td>
                </tr>
                <tr>
                    <td scope="row">HP301XL</td>
                    <td>Encre HP301XL</td>
                    <td>2</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;34,50</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;69,00</td>
                </tr>
                <tr>
                    <td scope="row">HP302XL</td>
                    <td>Encre HP302XL</td>
                    <td>1</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;45,00</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;45,00</td>
                </tr>
                <tr>
                    <td scope="row">TN1050</td>
                    <td>Toner Brother TN1050</td>
                    <td>1</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;48,45</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;48,45</td>
                </tr>
                <tr>
                    <td scope="row">TN2220</td>
                    <td>Toner Brother TN2220</td>
                    <td>2</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;40,75</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;81,50</td>
                </tr>
                </tbody>
            </table>

        </div>
        
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
          
      </div>
      <div class="col-sm">
        
      </div>
      <br>
      <div class="col-md">
            <form>
                <div class="form-group">
                  <label for="totalHt"><h4>Montant HT EUR.:</h4></label>
                  <span><input type="text" class="form-control" id="totalHt" name ="totalHt"></span>
                </div>
                <div class="form-group">
                  <label for="totalHt"><h4>TVA 21%  EUR.: &nbsp;</h4></label>
                  <span><input type="text" class="form-control" id="totalHt" name ="totalHt"></span>
                  
                </div>
                <div class="form-group">
                  <label for="totalHt"><h4>TOTAL TTC EUR.: &nbsp;</h4></label>
                  <span><input type="text" class="form-control" id="totalHt" name ="totalHt"></span>
                </div>
            </form>
      </div>

    </div>
    
</div>
<br><br>
<div class="container">
    <div class="row row-cols-3">
      <div class="col">
            <button type="button" class="btn btn-info btn-lg"><h2><< RETOUR</h2></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-success btn-lg"><h2>CONFIRMER</h2></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger btn-lg"><h2>ANNULER</h2></button>
      </div>
      
    </div>
</div>

