
    <h3>Panier: {{this.produits.length}}</h3>

    <table class="table table-bordered">
        <thead style="background-color: darkseagreen;">
            <tr>
                <th scope="col"></th>
                <th scope="col">NOM du PRODUIT</th>
                <th scope="col">PRIX></th>
                <th scope="col">Quantité</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of produits">
                <td>
                    <img src="{{(!prod.photo) ? this.boutiqueContainer + 'logo-product.jpg' : this.boutiqueContainer + prod.photo}}"
                        alt="nope" width="125" height="80">
                </td>
                <td>{{prod.libelleProd}}</td>
                <td>{{prod.prix}}</td>
                <td>{{prod.quantity}}</td>
                <div class="col">
                    <div class="row" style="padding: 3px;">
                        <button style="width: 50%; background-color: lightcoral;" type="button" class="btn" (click) = "changeQuantityProduct(prod, -1)">-</button>
                        <button style="width: 50%; background-color: lightgreen;" type="button" class="btn" (click) = "changeQuantityProduct(prod, 1)">+</button>
                    </div>
                    <div class="row" style="padding: 3px;">
                        <button type="button" class="btn btn-danger" (click) = "deleteProduct(prod.panierId)">Supprimer</button>
                    </div>
                </div>
            </tr>
            
        </tbody>
    </table>
    <div style="margin-left:auto;margin-right:1rem;width:fit-content"><h4>{{this.montantHt.toFixed(2)}} EURO HT</h4></div>
    <div style="margin-left:auto;margin-right:1rem;width:fit-content"><h4>{{(this.montantTtc).toFixed(2)}} EURO TTC</h4></div> 
    
    
      <div class="col-sm-4" style="background-color: darkgreen">
        <h4 class="text-white">Choix Point de vente:</h4>
          <select
            ngModel  (ngModelChange)="this.setPvente($event)"
          >
            <option
              *ngFor="let pointvente of pventes"
              value="{{pointvente.Id}}"
            >
              {{ pointvente.ville }}
            </option>
          </select>
      </div>


      
    <table class="table table-bordered">
        <thead style="background-color: darkseagreen;">
            <tr>
                <th scope="col">NOM du PRODUIT</th>
                <th scope="col">Quantité</th>
                <th scope="col">Stock</th>
                <th scope="col">En Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of produitStock">
                <td>{{prod.libelleProd}}</td>
                <td>{{prod.quantity}}</td>
                <td>{{prod.stock}}</td>
                <td>{{prod.enStock ? "IN STOCK" : "NOT IN STOCK"}}</td>
            </tr>
            
        </tbody>
    </table>

     <br>
     <br>
     <br>
     <br>
    <!-- <h2 *ngIf="this.confirmed" >C'est parti!</h2> -->
    <button id="confirmBtn" style="margin-top: 2rem;" class="btn btn-success btn-lg" (click)="this.confirm()"><strong>Checkout</strong></button>
    <div *ngIf="this.confirmed" ><app-payer [Totmont] = total ></app-payer></div>
     