<router-outlet></router-outlet>
<br><br><br>
<div class="bg">
		<div class="container-contact">
			<div class="row">
				<div class="col-md-3">
					<div class="contact-info">
						<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
						<h1>Contact</h1>
						<h5>Tél: 02/7402536</h5>
						<h6>eMail:info@boutline.com</h6><br>
						<h5>Une question sur nos produits et services ? Contactez-nous! Toujours à votre disposition pour vous satisfaire!</h5>
					</div>
				</div>
				<div class="col-md-9">
					<div class="contact-form">
						<div class="form-group">
						<label class="control-label col-sm-2" for="fname">Prénoms:</label>
						<div class="col-sm-10">          
							<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
						</div>
						</div>
						<div class="form-group">
						<label class="control-label col-sm-2" for="lname">Nom:</label>
						<div class="col-sm-10">          
							<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
						</div>
						</div>
						<div class="form-group">
						<label class="control-label col-sm-2" for="email">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
						</div>
						</div>
						<div class="form-group">
						<label class="control-label col-sm-2" for="message">Message:</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" id="comment"></textarea>
						</div>
						</div>
						<div class="form-group">        
						<!-- <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">ENVOYER</button>
						</div> -->
							<button type="submit" class="btn btn-success">ENVOYER</button>&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-danger">ANNULER</button>
						
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

 