<router-outlet></router-outlet>
<br><br><br><br>

<div class="bg">
    <div class="container-fluid">
        <div class="how-section1">
          <div class="row">
              <div class="col-md-6 how-img">
                  <a href="#"><img src="assets/Images/imageFormation.jpg" class="img-thumbnail" alt="Formation" height="250" width="250"/></a>
              </div>
              <div class="col-md-6">
                  <h4 style="text-align: center;">INITIATION AUX OUTILS INFORMATIQUE & BUREAUTIQUE &nbsp;<span class="badge badge-info">New</span></h4><br>
                              <h4 class="subheading">Une formation initiale gratuite à l'utilisation des outils informatique sera organisée dans nos locaux du 10 au 24 Octobre 2020.</h4><br>
                  <p style="text-align: justify;">
                    Rendre à nos clients et partenaires le travail facile et productif a toujours été notre souci, plus ils sont à l'aise, bien nous nous portons aussi car notre succès dépend d'eux tous 
                    sans exception aucune. Les outils informatiques et bureautiques, non seulement coûtent cher et doivent être utilisés avec soin, conditionnent énormément le rendement en entreprise. Leur usage dns les conditions 
                    optimales rend la productivité éfficace et fait gagner beaucoup de temps, lequel temps est précieux pour tous. Il arrive souvent que de petites ignorances ou incuries dans le maniement de ces appareils peuvent bloquer pas mal de chose 
                    et de là compromettre la progression dans nos projets ou taches quotidiennes. Pour cela, pour chacun de nos nouveaux produits, nous organisons des formations initiales pour mettre dans le bain nos clients, chose que ceux-ci apprécient bien.
                    Etes-vous intérressé par cette prochaine séance de formation ? Veuillez vous inscrire via notre formulaire de contact.
                  </p>
                  <div>
                    <p>UNE QUESTION ?</p>
                    <button class="btn btn-success btn-block">CONTACTEZ-NOUS</button>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <h4 style="text-align: center;">LEASING SUR LE COPIEURS &nbsp;<span class="badge badge-info">New</span></h4><br>
                              <h4 class="subheading">Profitez du leasing sur les copieurs à grande vitesse pour de grandes productions.</h4><br>
                              <p style="text-align: justify;"> 
                                Fini le souci de disposer des grands moyens pour s'acheter un copieur à grande vitesse ses grandes productions en copies, fini le souci de trouver un technicien quand le copieur est en panne,
                                fini se casser la tête pour l'entretien de son ou ses copieurs. Avec notre service leasing, choisissez le ou les copieurs qui répondent à vos besoins et utilisez-lez comme bon vous semble. Vous payez les mensualités contractuelles
                                et tout le service de suivi est fait par nos techniciens expérimentés. ceux-ci sont chargés de vous conseiller dans le choix des modèles adaptés à vos travaux , de vous conseiller et de s'occupoer de l'entretien périodique des copieurs de facon à vous assurer 
                                une bonne continuité dans vos travaux.
                              </p>
                              <div>
                                <p>UNE QUESTION ?</p>
                                <button class="btn btn-success btn-block">CONTACTEZ-NOUS</button>
                              </div>
              </div>
              <div class="col-md-6 how-img">
                  <a href="#"><img src="assets/Images/CanonBcBur.jpg" class="img-thumbnail" alt=""/></a>
              </div>
          </div>
          
          <div class="row">
              <div class="col-md-6 how-img">
                  <a href="#"><img src="assets/Images/HP903XL.png" class="img-thumbnail" alt=""/></a>
              </div>
              <div class="col-md-6">
                  <h4 style="text-align: center;">RECHARGE DE CARTOUCHES D'ENCRE &nbsp;<span class="badge badge-info">New</span></h4><br>
                  <h4 class="subheading">service de recharge des cartouches d'encre de marques est actuellement fonctionnel chez nous.</h4><br>
                  <p style="text-align: justify;"> Pour des raiaons économiques et environnementales, bon nombre de personnes choisissent la recharge de leurs cartouches d'encre. Pour répondre à cette demande non négligeable, nous rechargeons des cartouches
                    de marques HP, Canon, Brother avec un delai de livraison relativement court.
                    Les cartouches rechargés coûtent 20 à 30% moins cher, mais non seulement cela, contribuent à la résolution du problème écologique.
                    LA recharge est faite de manière professionnelle et très soigneuse dans nos ateliers de manière à eviter tout risque de contact avec les produits nocifs.
                  </p>
                  <div>
                    <p>UNE QUESTION ?</p>
                    <button class="btn btn-success btn-block">CONTACTEZ-NOUS</button>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <h4 style="text-align: center;">CONSEILS ET ASSISTANCE &nbsp;<span class="badge badge-info">New</span></h4><br>
                              <h4 class="subheading">Désormais un service d'assistance téchnique et de conseils est mis en place chez nous pour venir en aide à nos clients abonnés.</h4><br>
                              <p style="text-align: justify;">Ayant constaté et par nos vendeurs comme par nos clients d'éventuels problèmes dont ils sont susceptibles de rencontrer et l'angoisse qu'ils peuvent éprouvés quand il n'y a pas d'aide immédiate, en vue de les rassurer et d'assurer le bon usage de nos produits, nous avons mis sur place de puis le 20 Juillet 2020 un service dédié  à cela. Il suffit donc pour tous nos clients d'un simple coup de téléphone pour se faire assister dans les difficultés ou problèmes rencontrer. ceci est valable pour tous nos produits.
                              </p>
                              <div>
                                <p>UNE QUESTION ?</p>
                                <button class="btn btn-success btn-block">CONTACTEZ-NOUS</button>
                              </div>
              </div>
              <div class="col-md-6 how-img">
                  <a href="#"><img src="assets/Images/ConseilsAssistance.jpg" class="img-thumbnail img-fluid" alt=""/></a>
              </div>
          </div>
      </div>

    </div>
</div>

<div class="bgfooter">
     <!-- Footer -->
     <app-piedpage></app-piedpage> 
</div>