<router-outlet></router-outlet>

<div class="container-fluid">
  <h1 class="text-white" style="text-align: center; background-color:firebrick;">CONFIGURATION DE LA BOUTIQUE</h1>
  <br>
  <hr>

  <form #formconfig ="ngForm">  
    <div class="Row">      
      <div class="col" style="background-color: steelblue;">
          <div class="form-group">
              <label for="numtva"><h3 class="text-white">N° TVA&nbsp;:&nbsp;</h3></label>
              <input required type="number" id="numtva" ngModel name="numtva" placeholder="Entrez le N° Tva ici">
          </div>    
      </div>
    </div>
    <div class="row">
        <div class="col" style="background-color:steelblue;">
            <div class="form-group">
                <label for="raissoc"><h3 class="text-white">Raison Sociale&nbsp;:&nbsp;</h3></label>
                <input required type="text" id="raissoc" ngModel name="raissoc" placeholder="Entrez la raison sociale ici">
            </div>
        </div>
    </div>
    <br>
    <div class="Row">
        <div class="col" style="background-color:steelblue;">
            <div class="form-group">
              <label for="typesoc"><h3 class="text-white">Type de Société&nbsp;:&nbsp;</h3></label>
              <select required type ="text" id="typesoc" ngModel name = "typesoc"  class="browser-default custom-select custom-select-lg mb-3">
                <option selected>Sélectionnez le type de société</option>
                <option value="1">ASBL</option>
                <option value="2">SPRL</option>
                <option value="3">SCRL</option>
                <option value="4">Indépendant</option>  
              </select>
            </div>
        </div> 
    </div>
    <br> 
    <div class="Row">      
        <div class="col" style="background-color: steelblue;">
            <div class="form-group">
                <label for="adresse"><h3 class="text-white">&nbsp;&nbsp;Adresse du siège&nbsp;:&nbsp;</h3></label>
                <input required type="text" id="adresse" ngModel name="adresse" placeholder="adresse">
            </div>    
        </div>
    </div>
    <br> 
    <div class="Row">      
        <div class="col" style="background-color:steelblue;">
            <div class="form-group">
                <label for="contact"><h3 class="text-white">&nbsp;&nbsp;Contact-Tél&nbsp;:&nbsp;</h3></label>
                <input required type="text" id="contact" ngModel name="contact" placeholder="Contact téléphonique">
            </div>    
        </div>
    </div>
    <br> 
    <div class="Row">      
        <div class="col" style="background-color:steelblue;">
            <div class="form-group">
                <label for="email"><h3 class="text-white">Adresse-Email&nbsp;:&nbsp;</h3></label>
                <input required type="text" id="email" ngModel name="email" placeholder="email">
            </div>    
        </div>
    </div>
    <br> 
    <div class="Row">      
        <div class="col" style="background-color: steelblue;">
            <div class="form-group">
                <label for="pays"><h3 class="text-white">Pays</h3></label>
                <select required type ="text" id="pays" ngModel name = "pays" class="browser-default custom-select custom-select-lg mb-3">
                  <option selected>Sélectionnez le pays</option>
                  <option value="3">Afrique du Sud</option>
                  <option value="3">Australie</option>
                  <option value="3">Allemagne</option>
                  <option value="1">Belgique</option>
                  <option value="2">France</option>
                  <option value="3">Etats unis</option>
                  <option value="1">Italie</option>
                  <option value="2">Espagne</option>
                  <option value="3">Portugal</option>
                </select>
                <!-- <input type="text" id="pays" ngModel name="pays"> -->
            </div>    
        </div>
    </div>
    <br> 
    
    <br> 
    <div class="Row">      
        <div class="col" style="background-color: steelblue;">
            <div class="form-group">
                <label for="tauxtva"><h3 class="text-white">Taux Tva&nbsp;:&nbsp;</h3></label>
                <input required type="number" id="tauxtva" ngModel name="tauxva" placeholder="Entrez le taux de Tva applicable">
            </div> 
        </div>
    </div>
    <br> 
    <div class="Row">      
        <div class="col" style="background-color: steelblue;">
            <div class="form-group">
                <label for="devise"><h3 class="text-white">Devise/Monnaie&nbsp;:&nbsp;</h3></label>
                <input required type="text" id="devise" ngModel name="devise" placeholder="Entrez la devise">
            </div>
        </div>
    </div>
    <br> 
    <div class="row">      
      <div class="col" style="background-color:wheat;">
        <button type="button" class="btn btn-secondary btn-block"><h3>Parcourir</h3></button>    
      </div>
      <div class="col" style="background-color:wheat;">
        <h2 style="text-align: center;">LOGO</h2>
        <img src="assets/Images/edit.png" class="rounded mx-auto d-block" alt="LOGO">    
      </div>
    </div>
  </form>   
</div>
<hr>
<div class="container">
  <div class="row row-cols-3">
    <div class="col">
          <button type="button" class="btn btn-info btn-block"><h2>QUITTER</h2></button>
    </div>
    <div class="col">
      <button [disabled] = "formconfig.invalid"  class="btn btn-success btn-block"><h2>ENREGISTRER</h2></button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger btn-block"><h2>ANNULER</h2></button>
    </div>
    
  </div>
</div>

