<br><br><br>

<div class="container">
    
    <div id="login">
        
        
        
        <div class="container">
            <h3 class="text-center text-info pt-5">FORMULAIRE D'INSCRIPTION</h3>
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form #formlog ="ngForm">
                            <h3 class="text-center text-info">inscription</h3>
                            <div class="form-group">
                                <label for="username" class="text-info"><h4>Peudonyme:</h4></label><br>
                                <input id="username" type="text" ngModel name="username"  class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info"><h4>Adresse email:</h4></label><br>
                                <input id="username" type="text" ngModel name="username"  class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info"><h4>Mot de passe:</h4></label><br>
                                <input id="password" type="password" ngModel name="password" class="form-control"> 
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"></label><br>
                                <!-- <input type="submit" name="submit" class="btn btn-info btn-md" value="Connexion"> -->
                                <!-- <button (click)="Connecter(formlog)" class="btn btn-info btn-md">VALIDER</button> -->
                                <button class="btn btn-info btn-md"><h3>S'inscrire</h3></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
