<app-produit-detail-modal
[selectedProduct]=this.selectedProduct
></app-produit-detail-modal>

<div class="container-fluid">
  <div>
    <nav class="navbar">
      <input
        class="form-control"
        type="text"
        name="nom"
        [(ngModel)]="nom"
        (ngModelChange)="Search()"
        placeholder="Entrez le nom du produit recherché"
      />
    </nav>
  </div>
  <table class="table table-responsive-lg">
    <thead style="background-color: darkseagreen">
      <tr>
        <th (click)="sort('Id')" scope="col">
          ProduitID&nbsp;<i class="fa fa-sort"></i>
        </th>
        <th (click)="sort('libelleProd')" scope="col">
          NOM du PRODUIT&nbsp;<i class="fa fa-sort"></i>
        </th>
        <th scope="col"><h4>PRIX</h4></th>
        <th scope="col"><h4>DESCRIPTION</h4></th>
        <th scope="col"><h4>ACTIONS</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let prod of lesproduits
            | orderBy: key:reverse
            | paginate: { itemsPerPage: 10, currentPage: p }
        "
      >
        <!-- <td>{{prod.Id}}</td> -->
        <td>
          <img
            src="{{
              !prod.photo
                ? this.boutiqueContainer + 'logo-product.jpg'
                : this.boutiqueContainer + prod.photo
            }}"
            class= "img-thumbnail"
            alt="nope"
            width="125"
            height="80"
          />
        </td>
        <td><h4>{{ prod.libelleProd }}</h4></td>
        <td><h4>{{ prod.prix }}</h4></td>
        <td><h4>{{ prod.description }}</h4></td>
        <div class="col">
          <button
            style="font-size:18px"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#modalDetProduits"
            (click)="getProduit(prod.Id)"
          >
            Détails &nbsp;<i class="fa fa-eye" aria-hidden="true" style="font-size:32px;color:white"></i>
          </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="openProduit(prod.Id)" style="font-size:18px" class="btn btn-success">Modifier &nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:32px;color:white"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button 
             style="font-size:18px"
            class="btn btn-danger"
            (click)="delProduct(prod.Id)"
          >
            Supprimer<i class="fa fa-trash-o" style="font-size:32px;color:white"></i>
          </button>
          <!-- <button class="btn btn-info" data-toggle="modal" data-target="#modalDetProduits" (click) = "getProduit(prod.Id)">Détails</button> -->
        </div>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>