<app-produit-detail-modal
[selectedProduct]=this.selectedProduct
></app-produit-detail-modal>

<div class="container-fluid">
  <div>
    <nav class="navbar">
      <input
        class="form-control"
        type="text"
        name="nom"
        [(ngModel)]="nom"
        (ngModelChange)="Search()"
        placeholder="Entrez le nom du produit recherché"
      />
    </nav>
  </div>
  <table class="table table-bordered">
    <thead style="background-color: darkseagreen">
      <tr>
        <th (click)="sort('Id')" scope="col">
          ProduitID&nbsp;<i class="fa fa-sort"></i>
        </th>
        <th (click)="sort('libelleProd')" scope="col">
          NOM du PRODUIT&nbsp;<i class="fa fa-sort"></i>
        </th>
        <th scope="col">PRIX></th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let prod of lesproduits
            | orderBy: key:reverse
            | paginate: { itemsPerPage: 10, currentPage: p }
        "
      >
        <!-- <td>{{prod.Id}}</td> -->
        <td>
          <img
            src="{{
              !prod.photo
                ? this.boutiqueContainer + 'logo-product.jpg'
                : this.boutiqueContainer + prod.photo
            }}"
            alt="nope"
            width="125"
            height="80"
          />
        </td>
        <td>{{ prod.libelleProd }}</td>
        <td>{{ prod.prix }}</td>
        <td>{{ prod.description }}</td>
        <div class="col">
          <button
            class="btn btn-info"
            data-toggle="modal"
            data-target="#modalDetProduits"
            (click)="getProduit(prod.Id)"
          >
            Détails
          </button>&nbsp;
          <button type="button" class="btn btn-success">Modifier</button>&nbsp;
          <button
            type="button"
            class="btn btn-danger"
            (click)="delProduct(prod.Id)"
          >
            Supprimer
          </button>
          <!-- <button class="btn btn-info" data-toggle="modal" data-target="#modalDetProduits" (click) = "getProduit(prod.Id)">Détails</button> -->
        </div>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>