<router-outlet></router-outlet>
<br><br><br><br><br>

<div class="container-fluid">
  <div class="row">  
    <!-- <div class="col-sm-1">

    </div>  -->

    <div class="col-sm-3">
      <h1 class="text-white" style="text-align: center; background-color:darkgreen;">PROMOTIONS</h1>
      <hr>
      <br><br><br><br>
      
      <form #formpromo ="ngForm">  
            <div class="form-group row">     
              <label class="col-sm-2 col-form-label"><h4 class="text-black">Début:</h4></label> 
              <div class="col-sm-10">
                  <input type ="datetime-local" name ="dateDebut" #dateDebut = "ngModel" [(ngModel)] = "formDataprom.dateDebut" class="form-control" placeholder ="date début">
              </div>    
            </div>
            <div class="form-group row">     
              <label class="col-sm-2 col-form-label"><h4 class="text-black">Fin:</h4></label> 
              <div class="col-sm-10">
                  <input type ="datetime-local" name ="dateFin" #dateFin = "ngModel" [(ngModel)] = "formDataprom.dateFin" class="form-control" placeholder ="date fin">
              </div>    
            </div>
            <div class="form-group row">     
              <label class="col-sm-2 col-form-label"><h4 class="text-black">LIBELLE:</h4></label> 
              <div class="col-sm-10">
                  <input required name ="libellePromo" #libellePromo = "ngModel" [(ngModel)] = "formDataprom.libellePromo" class="form-control" placeholder ="libéllé">
              </div>    
            </div>
      </form> 
    </div>
      <div class="col-sm-2">
          <br><br><br><br><br>
        <div class="col">
          <button [disabled] = "formpromo.invalid"  class="btn btn-success btn-block" (click) = "addPromos(formpromo)"><h2>CREER</h2></button>
        </div>
        <br>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg btn-block" (click) = "resetButton(formpromo)"><h2>REINITIALISATION</h2></button>
        </div>
        <br>
        <div class="col">
            <button type="button" class="btn btn-danger btn-block"><h2>QUITTER</h2></button>
        </div>
        <br>
     </div>
    

    <div class="col-sm-2">

    </div> 

    <div class="col-sm-3">
      <h1 class="text-white" style="text-align: center; background-color:darkgreen;">PROMOUVOIR</h1>
      <br>
      <hr>
      <form #formpromouvoir ="ngForm">  
            <div class="form-group row">     
              <label class="col-sm-2 col-form-label"><h4 class="text-black">PROMOTIONS</h4></label> 
              <input type="number" name="promoId" #promoId = "ngModel" [(ngModel)] = "formDatapromouvoir.promoId" class="form-control"> 
              <!-- <select required name="promoId" [(ngModel)] = "formDatapromouvoir.promoId" class="form-control" (change)="onChangePromoId($event.target.value)">
                <option *ngFor="let promo of lespromos" [value]="promo.promoId">{{promo.libellePromo}}</option>
              </select> -->
            </div>
            <div class="form-group row">     
              <label class="col-sm-2 col-form-label"><h4 class="text-black">ID PROD.:</h4></label> 
              <div class="col-sm-10">
                  <input type="number" required name ="produitId" [(ngModel)] = "formDatapromouvoir.produitId" class="form-control">
                  <!-- <select required name="produitId" [(ngModel)] = "formDatapromouvoir.produitId" class="form-control" (change)="onChangeProduitId($event.target.value)">
                    <option *ngFor="let prod of lesproduits" [value]="prod.produitId">{{prod.libelleProd}}</option>
                  </select>  -->

              </div>    
            </div>
            <div class="form-group row">     
              <label class="col-sm-2 col-form-label"><h4 class="text-black">% DICOUNT:</h4></label> 
              <div class="col-sm-10">
                  <input type ="number"required name ="discount" #discount = "ngModel" [(ngModel)] = "formDatapromouvoir.discount" class="form-control" placeholder ="">
              </div>    
            </div>
        
      </form> 
    </div>
    <div class="col-sm-2">
        <br><br><br><br><br>
      <div class="col">
        <button [disabled] = "formpromouvoir.invalid"  class="btn btn-success btn-block" (click) = "addPromotions()"><h2>CREER</h2></button>
      </div>
      <br>
      <div class="col">
        <button type="button" class="btn btn-dark btn-lg btn-block" (click) = "resetButton(formpromouvoir)"><h2>REINITIALISATION</h2></button>
      </div>
      <br>
      <div class="col">
          <button type="button" class="btn btn-danger btn-block"><h2>QUITTER</h2></button>
      </div>
      <br>
   </div> 

  </div>
</div>
      
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5"> 
        <table class="table">
        <thead style="background-color: darkseagreen;">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">LIBELLE</th>
            <th scope="col">DEBUT</th>
            <th scope="col">FIN</th>
            <th scope="col">ACTIONS</th>
          </tr>
        </thead>
        <br>
        <tbody>
           <tr *ngFor = "let promo of lespromos">
            <td>{{promo.Id}}</td>
            <td>{{promo.dateDebut}}</td>
            <td>{{promo.dateFin}}</td>
            <td>{{promo.libellePromo}}</td>
            <div class="col">
              <button type="button" class="btn btn-info">Détails</button>&nbsp;
              <button type="button" class="btn btn-success">Modifier</button>&nbsp;
              <button type="button" class="btn btn-danger">Supprimer</button>
            </div>
          </tr>   
        </tbody>
      </table>
    </div>>
    <div class="col-sm-2"> 

    </div>> 
    <div class="col-sm-4"> 
      <table class="table">
      <thead style="background-color: darkseagreen;">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">PROMOTION</th>
          <th scope="col">PRODUIT</th>
          <th scope="col">TAUX DISCOUNT</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>
      <br>
      <tbody>
         <tr *ngFor = "let promouvoir of lespromouvoirs">
          <td>{{promouvoir.Id}}</td>
          <td>{{promouvoir.promoId}}</td>
          <td>{{promouvoir.produitId}}</td>
          <td>{{promouvoir.discount}}</td>
          <div class="col">
            <button type="button" class="btn btn-info">Détails</button>&nbsp;
            <button type="button" class="btn btn-success">Modifier</button>&nbsp;
            <button type="button" class="btn btn-danger">Supprimer</button>
          </div>
        </tr>
      </tbody>
    </table>
  </div>>  
  </div>>   
</div>

