<router-outlet></router-outlet>
<br><br><br><br>

<br>
<div class="container-fluid">
  <h1 class="text-white" style="text-align: center; background-color:darkgreen;">GESTION POINTS DE VENTE</h1>
  <br>
  <hr>
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">
      <form #formconfig ="ngForm">  
        
        <div class="form-group row">
          <label for="nomGerant" class="col-sm-2 col-form-label"><h6 class="text-black">GERANT:</h6></label>
          <div class="col-sm-10">
            <input required type="nomGerant" id="prix" ngModel name="nomGerant" placeholder="gérant">
          </div>
        </div>

        <div class="form-group row">
          <label for="ville"><h6 class="text-black">VILLE:</h6></label>
          <select required type ="text" id="ville" ngModel name = "ville"  class="browser-default custom-select custom-select-lg mb-3">
            <option selected>Sélectionnez le nom de la ville</option>
            <option value="1">BRUXELLES</option>
            <option value="2">ANVERS</option>
            <option value="3">LIEGE</option>
            <option value="4">NAMUR</option>  
            <option value="2">MONS</option>
            <option value="3">WATERLOO</option>
            <option value="4">GAND</option>  
          </select>
        </div>
        
        <div class="form-group row">
          <label for="adresPvente" class="col-sm-2 col-form-label"><h6 class="text-black">ADRESSE:</h6></label>
          <div class="col-sm-10">
            <input required type="text" id="adresPvente" ngModel name="adresPvente" placeholder="adresse">
          </div>
        </div>
        <div class="form-group row">
          <label for="codePostal" class="col-sm-2 col-form-label"><h6 class="text-black">CODE POSTAL:</h6></label>
          <div class="col-sm-10">
            <input required type="number" id="codePostal" ngModel name="codePostal" placeholder="code postal">
          </div>
        </div><div class="form-group row">
          <label for="contact" class="col-sm-2 col-form-label"><h6 class="text-black">CONTACT:</h6></label>
          <div class="col-sm-10">
            <input required type="text" id="contact" ngModel name="contact" placeholder="contact">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label"><h6 class="text-black">EMAIL:</h6></label>
          <div class="col-sm-10">
            <input required type="text" id="email" ngModel name="email" placeholder="email">
          </div>
        </div>

      </form> 
    </div>   
        
        
        
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-2">
        <div class="col">
            <button [disabled] = "formconfig.invalid" class="btn btn-info btn-block"><h2>AJOUTER</h2></button>
        </div>
        <br>
        <div class="col">
            <button type="button" class="btn btn-info btn-block"><h2>MODIFIER</h2></button>
        </div>
        <br>
        <div class="col">
            <button type="button" class="btn btn-info btn-block"><h2>SUPPRIMER</h2></button>
        </div>
        <br>
        <div class="col">
          <button type="button" class="btn btn-info btn-block"><h2>ANNULER</h2></button>
        </div>
         <br>
        <div class="col">
            <button type="button" class="btn btn-danger btn-block"><h2>QUITTER</h2></button>
        </div>
      
      </div>
  </div>
</div>
      
<div class="container-fluid">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">POINT VENTE</th>
      <th scope="col">VILLE</th>
      <th scope="col">ADRESSE</th>
      <th scope="col">CODE POSTAL</th>
      <th scope="col">CONTACT</th>
      <th scope="col">Email</th>
      <th scope="col">GERANT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let pvente of pointventes">
        <td>{{pvente.Id}}</td>
        <td>{{pvente.ville}}</td>
        <td>{{pvente.adresse}}</td>
        <td>{{pvente.codePostal}}</td>
        <td>{{pvente.contact}}</td>
        <td>{{pvente.email}}</td>
        <td>{{pvente.gerantId}}</td>
    </tr>    
  </tbody>
</table>
</div>

