<router-outlet></router-outlet>
<br><br><br><br>

<br>
<div class="container-fluid">
  <h1 class="text-white" style="text-align: center; background-color:darkgreen;">GESTION POINTS DE VENTE</h1>
  <br>
  <hr>
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">
      <form #formpvente ="ngForm">  

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">GERANT:</h4></label>
          <select required type="number" name ="gerantId" #gerantId = "ngModel" [(ngModel)] = "formData.gerantId" class="form-control" placeholder ="">
            <option *ngFor="let gerant of gerants" [value]="gerant.nom">{{gerant.nom}}</option>
          </select> 
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">ADRESSE:</h4></label>
          <div class="col-sm-10">
            <input required name ="adresse" #adresse = "ngModel" [(ngModel)] = "formData.adresse" class="form-control" placeholder ="adresse">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h6 class="text-black">CODE POSTAL:</h6></label>
          <div class="col-sm-10">
              <input required type = "number" name ="codePostal" #codePostal = "ngModel" [(ngModel)] = "formData.codePostal" class="form-control" placeholder ="codePostal">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">VILLE:</h4></label>
          <select required  name ="ville" #ville = "ngModel" [(ngModel)] = "formData.ville" class="form-control" placeholder ="">
            <option *ngFor="let ville of Villes" [value]="ville">{{ville}}</option>
          </select> 
        </div>
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">CONTACT:</h4></label>
          <div class="col-sm-10">
            <input required name ="contact" #contact = "ngModel" [(ngModel)] = "formData.contact" class="form-control" placeholder ="contact">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">EMAIL:</h4></label>
          <div class="col-sm-10">
            <input required name ="email" #email = "ngModel" [(ngModel)] = "formData.email" class="form-control" placeholder ="email">
          </div>
        </div>

      </form> 
    </div>   
        
        
        
    <div class="col-sm-1">
      
    </div>
    <div class="col-sm-2">

      <div class="col">
        <button [disabled] = "formpvente.invalid"  class="btn btn-success btn-block" (click) = "addPventes(formpvente)"><h2>CREER</h2></button>
      </div>
      <br>
      <div class="col">
        <button type="button" class="btn btn-dark btn-lg btn-block" (click) = "resetButton(formpvente)"><h2>REINITIALISATION</h2></button>
      </div>
      <br>
      <div class="col">
          <button type="button" class="btn btn-danger btn-block"><h2>QUITTER</h2></button>
      </div>
      <br>
        
    </div>
  </div>
</div>
      
<div class="container-fluid">
  <table class="table table-striped">
  <thead style="background-color: darkseagreen;">
    <tr>
      <th scope="col">POINT VENTE</th>
      <th scope="col">VILLE</th>
      <th scope="col">ADRESSE</th>
      <th scope="col">CODE POSTAL</th>
      <th scope="col">CONTACT</th>
      <th scope="col">Email</th>
      <th scope="col">GERANT</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <tr *ngFor = "let pvente of pointventes">
        <td>{{pvente.Id}}</td>
        <td>{{pvente.ville}}</td>
        <td>{{pvente.adresse}}</td>
        <td>{{pvente.codePostal}}</td>
        <td>{{pvente.contact}}</td>
        <td>{{pvente.email}}</td>
        <td>{{(getSelectedGerant(pvente.gerantId).nom)}}</td>
        <div class="col">
          <button type="button" class="btn btn-info">Modifier</button>&nbsp;
          <button type="button" class="btn btn-success">Visualiser</button>&nbsp;
          <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
    </tr>    
  </tbody>
</table>
</div>

