<router-outlet></router-outlet>
<br><br><br><br><br>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          
            <!-- <tr *ngFor="let produit of ListProduits">
              <td>{{prod.  prod.PROD}}</td>
              <td>{{produit.quantite}}</td>
              <td>{{produit.prixUnitaire}}</td> 
             
          </tr> -->
          
        </tbody>
      </table>
</div>