<router-outlet></router-outlet>
<br><br><br><br><br>

<br>
<div class="container-fluid">
  <h1 class="text-white" style="text-align: center; background-color:darkgreen;">GESTION DES PRODUITS</h1>
  <br>
  <hr>
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">
      <form #formprod ="ngForm">  
        <div class="form-group row">
          <label><h4 class="text-black">CATEGORIE:</h4></label>
          <select required type="number" name="categorieId" #categorieId = "ngModel" [(ngModel)] = "formData.categorieId" class="form-control">
            <option *ngFor="let categorie of lescategories" [value]="categorie.libelle">{{categorie.libelle}}</option>
          </select>
        </div>
        <div class="form-group row">
          <label><h4 class="text-black">MARQUE:</h4></label>
          <select required type="number" name="marqueId" #marqueId = "ngModel" [(ngModel)] = "formData.marqueId" class="form-control">
            <option *ngFor="let marque of marques" [value]="marque.nomMarque">{{marque.nomMarque}}</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">NOM:</h4></label>
          <div class="col-sm-10">
            <input required name="libelleProd" #libelleProd = "ngModel" [(ngModel)] = "formData.libelleProd" class="form-control" placeholder="nom du produit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">PRIX:</h4></label>
          <div class="col-sm-10">
            <input required type="number" name="prix" #prix = "ngModel" [(ngModel)] = "formData.prix" class="form-control" placeholder="prix du roduit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">PHOTO:</h4></label>
          <div class="col-sm-10">
            <input required name="photo" #photo = "ngModel" [(ngModel)] = "formData.photo" class="form-control" placeholder="photo">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">DESCRIPTION:</h4></label>
          <div class="col-sm-10">
            <input required name="description" #description = "ngModel" [(ngModel)] = "formData.description" class="form-control" placeholder="Entrez la description du produit ici">
          </div>
        </div>
      </form> 
    </div>   
        
        
        
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-2">
      <div class="col">
        <button [disabled] = "formprod.invalid"  class="btn btn-success btn-block" (click) = "addProduit(formprod)"><h2>CREER</h2></button>
      </div>
      <br>
      <div class="col">
        <button type="button" class="btn btn-dark btn-lg btn-block" (click) = "resetButton(formprod)"><h2>REINITIALISATION</h2></button>
      </div>
      <br>
      <div class="col">
          <button type="button" class="btn btn-danger btn-block"><h2>QUITTER</h2></button>
      </div>
      <br>
   </div>
  </div>
</div>
      

<div class="container-fluid">
  <table class="table table-striped">
  <thead style="background-color: darkseagreen;">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOM</th>
      <th scope="col">PRIX</th>
      <th scope="col">MARQUES</th>
      <th scope="col">CATEGORIES</th>
      <th scope="col">PHOTO</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let prod of lesproduits">
        <td>{{prod.Id}}</td>
        <td>{{prod.libelleProd}}</td>
        <td>{{prod.prix}}</td>
        <td>{{prod.marqueId}}</td>
        <td>{{prod.categorieId}}</td>
        <td>{{prod.photo}}</td>
        <td>{{prod.description}}</td>
        <!-- photo: string;
        description: string; -->
        <div class="col">
          <button type="button" class="btn btn-info">Modifier</button>&nbsp;
          <button type="button" class="btn btn-success">Visualiser</button>&nbsp;
          <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
    </tr>   
  </tbody>
</table>
</div>

