<router-outlet></router-outlet>
<br><br><br><br><br>

<br>
<div class="container-fluid">
  <h1 class="text-white" style="text-align: center; background-color:darkgreen;">GESTION DES GERANTS</h1>
  <br>
  <hr>
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">
      <form #formgerant ="ngForm">  
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">POINT VENTE:</h4></label>
          <select required type="number" name ="pointventeId" #pointventeId = "ngModel" [(ngModel)] = "formData.pointventeId" class="form-control" placeholder ="">
            <option *ngFor="let pointVente of lespointventes" [value]="pointVente.ville">{{pointVente.ville}}</option>
          </select> 
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">CATEGORIE GERANT:</h4></label>
          <select required  name ="categorie" #categorie = "ngModel" [(ngModel)] = "formData.categorie" class="form-control" placeholder ="">
            <option *ngFor="let categorie of lescategories" [value]="categorie">{{categorie}}</option>
          </select> 
        </div>
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">NOM:</h4></label>
          <div class="col-sm-10">
            <input required name ="nom" #nom = "ngModel" [(ngModel)] = "formData.nom" class="form-control" placeholder ="nom">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">PRENOMS:</h4></label>
          <div class="col-sm-10">
            <input required name ="prenoms" #prenoms = "ngModel" [(ngModel)] = "formData.prenoms" class="form-control" placeholder ="prenoms">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">CONTACT:</h4></label>
          <div class="col-sm-10">
            <input required name ="contact" #contact = "ngModel" [(ngModel)] = "formData.contact" class="form-control" placeholder ="contact">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">Email:</h4></label>
          <div class="col-sm-10">
            <input required name ="email" #email = "ngModel" [(ngModel)] = "formData.email" class="form-control" placeholder ="email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><h4 class="text-black">ID Role:</h4></label>
          <div class="col-sm-10">
            <input required type="number" name ="roleId" #roleId = "ngModel" [(ngModel)] = "formData.roleId" class="form-control" placeholder ="Role">
          </div>
        </div>
      </form> 
    </div>   
        
        
        
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-2">
      <div class="col">
        <button [disabled] = "formgerant.invalid"  class="btn btn-success btn-block" (click) = "addGerant(formgerant)"><h2>CREER</h2></button>
      </div>
      <br>
      <div class="col">
        <button type="button" class="btn btn-dark btn-lg btn-block" (click) = "resetButton(formgerant)"><h2>REINITIALISATION</h2></button>
      </div>
      <br>
      <div class="col">
          <button type="button" class="btn btn-danger btn-block"><h2>QUITTER</h2></button>
      </div>
      <br>
      
    </div>
  </div>
</div>
      

<div class="container-fluid">
  <table class="table table-striped">
  <thead style="background-color: darkseagreen;">
    <tr>
      <th scope="col">ID GERANTS</th> 
      <th scope="col">NOMS</th>
      <th scope="col">PRENOMS</th>
      <th scope="col">CATEGORIES</th>
      <th scope="col">POINTS VENTE</th>
      <th scope="col">CONTACT</th>
      <th scope="col">Email</th>
      <th scope="col">ROLE</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <br>

  <tbody>
    <tr *ngFor = "let gerant of lesgerants">
        <td>{{gerant.Id}}</td>
        <td>{{gerant.nom}}</td>
        <td>{{gerant.prenoms}}</td>
        <td>{{gerant.categorie}}</td>
        <td>{{gerant.pointventeId}}</td>
        <td>{{gerant.contact}}</td>
        <td>{{gerant.email}}</td>
        <td>{{gerant.roleId}}</td>
        <div class="col">
          <button type="button" class="btn btn-info">Modifier</button>&nbsp;
          <button type="button" class="btn btn-success">Visualiser</button>&nbsp;
          <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
    </tr>   
  </tbody>
</table>
</div>


