<router-outlet></router-outlet>
<div class="container-fluid">
  <br>
  <br>
  <br>
  <br><br>
  <div class="row">
    <div class="col-sm" style="background-color: cadetblue; text-align: center; text-col"><h1 class="alert alert-info">Profitez des nmeilleures promos de la saison, stock limité.</h1> </div> 
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6" style="background-color: orange;"></div>
    <div class="col" style="background-color:orange;"></div>
  </div>
  <br>

<!-- debut nouveau ecran -->

<section id="team" class="pb-5">
  <div class="container-fluid">
      
      <div class="row" style="background-color:skyblue">
          
          <table class="table table-bordered">

              <thead style="background-color: darkseagreen;"> 
                <tr>
                  <!-- <th (click) = "sort('Id')" scope="col">ProduitID&nbsp;<i class="fa fa-sort"></i></th> -->
                  <th scope="col" style="text-align: center;">IMAGES</th>
                  <th (click) = "sort('libelleProd')" scope="col" style="text-align: center;">NOM du PRODUIT &  DESCRIPTION &nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                  <!-- <th scope="col">DESCRIPTION</th> -->
                  <th scope="col" style="text-align: center;">PRIX></th>
                </tr>
              </thead> 

             <tbody>
                 
                   
                   <tr *ngFor = "let prod of lesproduits | orderBy: key: reverse | paginate: {itemsPerPage: 6, currentPage: p }">
                           
                                 <td>
                                  
                                      <div class="col"> 
                                      <div class="image-flip" >
                                          <div class="mainflip flip-0">
                                              <div class="frontside">
                                                  <div class="card">
                                                      <div class="card-body text-center">
                                                          <p><img class=" img-thumbnail" src="assets/Images/{{prod.photo}}" alt="card image"></p>
                                                          <h4 class="card-title">{{prod.libelleProd}}</h4>
                                                           <p class="card-text">{{prod.description}}</p>
                                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="backside">
                                                  <div class="card">
                                                      <div class="card-body text-center mt-4">
                                                         <h4 class="card-title">{{prod.libelleProd}}</h4><br>
                                                          <h4 class="card-title">{{prod.description}}</h4>
                                                           <p class="card-text">PRIX HT:&nbsp;{{prod.prix}} EUR</p>
                                                          <button class="btn btn-danger">Ajouter au panier d'achats</button>
                                                          <ul class="list-inline">
                                                              <li class="list-inline-item">
                                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                      <i class="fa fa-facebook"></i>
                                                                  </a>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                      <i class="fa fa-twitter"></i>
                                                                  </a>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                      <i class="fa fa-skype"></i>
                                                                  </a>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                      <i class="fa fa-google"></i>
                                                                  </a>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                   
                                 </td>
                                 <td>
                                   
                                   <div class="col">
                                    
                                  
                                        <div class="image-flip" >
                                          <div class="mainflip flip-0">
                                              <div class="frontside">
                                                  <div class="card">
                                                      <div class="card-body text-center">
                                                           <!-- <p><img class=" img-thumbnail" src="assets/Images/{{prod.photo}}" alt="card image"></p>  -->
                                                          <h4 class="card-title">{{prod.libelleProd}}</h4>
                                                          <p class="card-text">{{prod.description}}</p>
                                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                      </div>
                                                  </div>
                                              </div> 
                                              <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">{{prod.libelleProd}}</h4>
                                                        <p class="card-text">{{prod.description}}</p>
                                                        
                                                        
                                                        <button class="btn btn-danger">Ajouter au panier d'achats</button>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> 
                                           </div>
                                      </div> 
                                  </div>
                                   
                                 </td>
                                 <td>
                                
                                   <div class="col">
                                      <div class="image-flip" >
                                          <div class="mainflip flip-0">
                                              <div class="frontside">
                                                  <div class="card">
                                                      <div class="card-body text-center">
                                                          <!-- <p><img class=" img-thumbnail" src="assets/Images/{{prod.photo}}" alt="card image"></p>
                                                          <h4 class="card-title">{{prod.libelleProd}}</h4>
                                                          <p class="card-text">{{prod.description}}</p> -->
                                                          <p class="card-text">PRIX HT:&nbsp;{{prod.prix}} EUR</p><br>
                                                          <p class="card-text">PRIX TTC (*21%):&nbsp;{{prod.prix}} EUR</p>
                                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                       
                                                        <p class="card-text">PRIX HT:&nbsp;{{prod.prix}} EUR</p><br>
                                                        <p class="card-text">PRIX TTC (*21%):&nbsp;{{prod.prix}} EUR</p>
                                                        <p>Ces prix peuvent être modifiés à tout moment selon les prix sur le marché</p>
                                                        <button class="btn btn-danger">Ajouter au panier d'achats</button>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> -->
                                          </div>
                                      </div>
                                  </div>
                                   
                                 </td>
                                 
                        
                     </tr>  
              
             </tbody>
             <pagination-controls (pageChange)="p = $event"></pagination-controls> 
           </table>


      </div>
  </div>
</section>





  

    
  
     <!-- Footer -->
     <div class="container-fluid">    
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <footer class="page-footer font-small blue-grey lighten-5">

          <div style="background-color: #21d192;">
            <div class="container">

              <!-- Grid row-->
              <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                  <h6 class="mb-0">Restez connectés avec nous sur les réseaux sociaux</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                
                <div class="col-md-6 col-lg-7 text-center text-md-right">


                  <div class="col-md-5">
                    <div class="d-inline-block">
                      <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                        <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
                        </a>
                      </div>
                      <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                        <a href="https://twitter.com/">
                          <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                      </div>
          
                      <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                        <a href="https://www.linkedin.com/company/">
                          <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                      </div>
                      <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                        <a href="https://www.google.com/">
                          <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
                      </div>
                    </div>
                  </div>



                  
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row-->

            </div>
          </div>

          <!-- Footer Links -->
          <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">BOUTIKLINE</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Boutline, votre partenaire privilegié dans les solutions informatiques,consommables et accessoires.
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Produits</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a class="dark-grey-text" href="#!">PC portables & Desktop</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Encres & Toners</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Accessoires</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Services</a>
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a class="dark-grey-text" href="#!">Votre compte</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">S'affilier</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Coûts d'expédition</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Aide</a>
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <i class="fas fa-home mr-3"></i>Bd Albert II 78,1080 Bruxelles
                  <i class="fas fa-print mr-3"></i> +32 02/23 236 63</p>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
            <a class="dark-grey-text" href="#">Yamtoingar Antoine</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
      </div>
 