<router-outlet></router-outlet>
<div class="container-fluid">
  <br>
  <br>
  <br>
  <br><br>
  <div class="row">
    <div class="col-sm" style="background-color: cadetblue; text-align: center; text-col"><h1 class="alert alert-info">Profitez des nmeilleures promos de la saison, stock limité.</h1> </div>
    
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6" style="background-color: orange;"></div>
    <div class="col" style="background-color:orange;"></div>
    
  </div>
   
  <br>

  <div class="card-deck">
    <div class="card text-center" style="width: 18rem;">
      <img src="assets/Images/TN2410.png" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>TN2410</strong></h5>
        <p class="card-text">Toner TN2410 pour imprimante Laser Brother 2410, 5000 à 8000 copies, rechargeable.</p>
        <h5 class="card-title"><strong>Prix : 48,56 EUR</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/HP301.png" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>Encre HP301XL</strong></h5>
        <p class="card-text">Cartouche d'encre pour imprimantes à jet d'encre couleur, format XL, 2 x 21 mm, 400 à 800 copies.</p>
        <h5 class="card-title"><strong>Prix : 43,00 EUR</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/TN243.png" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>Toner TN243</strong></h5>
        <p class="card-text">Toner TN243 pour imprimante Laser Brother 243, 5000 à 8000 copies, rechargeable.</p>
        <h5 class="card-title"><strong>Prix : 45,50 EUR</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/HP304.png" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>Encre HP304XL</strong></h5>
        <p class="card-text">Cartouche d'encre pour imprimantes à jet d'encre couleur, format XL, 2 x 21 mm, 400 à 800 copies.</p>
        <h5 class="card-title"><strong>Prix : 85,20 EUR</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
  </div>

  
  <br>
  <div class="row">
    <div class="col-sm-6" style="background-color:orange;"></div>
    <div class="col" style="background-color:orange;"></div>
    
  </div>
   
  <br>

  <div class="card-deck">
    <div class="card text-center" style="width: 18rem;">
      <img src="assets/Images/HP Designjet Z9.png" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>HP Designjet Z9</strong><span class="badge badge-secondary">New</span></h5>
        <p class="card-text">Imprimante HP Designjet, grand format de A4 à A1, pour des impréssions de grande précision.</p>
        <h5 class="card-title"><strong>Prix : 2 275,00 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/Brother DCP-L3550CDW.png" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>Brother DCP-L3550CDW</strong></h5>
        <p class="card-text">Copieur Brother DCP-L3550CDW, grande production allant jusqu'à 50 copies/minute en A4 80 g/m2.</p>
        <h5 class="card-title"><strong>Prix : 2 560,00 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/lenovo Ideapad slim1.jpg" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>LENOVO IDEAPAD SLIM1</strong><span class="badge badge-secondary">New</span></h5>
        <p class="card-text">Pc portable Lenovo IDEAPAD SLIM1 14" 8Go RAM, 120 Go DD SD processeur i5 2,7 Ghz.</p>
        <h5 class="card-title"><strong>Prix : 299,00 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
    <div class="card text-center">
      <img src="assets/Images/LDLC PC In extensor-SSD.jpg" class="card-img-top" alt="..." height="250" width="170">
      <div class="card-body">
        <h5 class="card-title"><strong>LDLC PC In extensor-SSD</strong></h5>
        <p class="card-text">Pc de bureau LDLC PC In extensor-SDD Optiplex 790 Processeur i3 1,8 Ghz, 1 To DD 7200 tr/min 16 Go RAM extensible à 64Go...</p>
        <h5 class="card-title"><strong>Prix : 885,20 EUR HT</strong></h5>
        <button class="btn btn-info btn-lg">Ajouter</button>
      </div>
    </div>
  </div>


    
  
     <!-- Footer -->
     <div class="container-fluid">    
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <footer class="page-footer font-small blue-grey lighten-5">

          <div style="background-color: #21d192;">
            <div class="container">

              <!-- Grid row-->
              <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                  <h6 class="mb-0">Restez connectés avec nous sur les réseaux sociaux</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                
                <div class="col-md-6 col-lg-7 text-center text-md-right">


                  <div class="col-md-5">
                    <div class="d-inline-block">
                      <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                        <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
                        </a>
                      </div>
                      <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                        <a href="https://twitter.com/">
                          <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                      </div>
          
                      <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                        <a href="https://www.linkedin.com/company/">
                          <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                      </div>
                      <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                        <a href="https://www.google.com/">
                          <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
                      </div>
                    </div>
                  </div>



                  
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row-->

            </div>
          </div>

          <!-- Footer Links -->
          <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">BOUTIKLINE</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Boutline, votre partenaire privilegié dans les solutions informatiques,consommables et accessoires.
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Produits</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a class="dark-grey-text" href="#!">PC portables & Desktop</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Encres & Toners</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Accessoires</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Services</a>
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a class="dark-grey-text" href="#!">Votre compte</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">S'affilier</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Coûts d'expédition</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Aide</a>
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <i class="fas fa-home mr-3"></i>Bd Albert II 78,1080 Bruxelles
                  <i class="fas fa-print mr-3"></i> +32 02/23 236 63</p>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
            <a class="dark-grey-text" href="#">Yamtoingar Antoine</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
      </div>
 