/* ng-sidebar-container{
    height: 100vh;
}

::ng-deep .ng-sidebar {
    background-color: teal;
    width: 200px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
}
.menu {
    margin-top: 2em;
    display: block;
}


 */

.menu {
    margin-top: 2em;
    display: block;
}

.menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-emphasis-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
   font-weight: bold;
    
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .dropdown {
  }
  
  .dropdown-content {
    display: none;
  }
  
  .dropdown-content a {
    font-size: 16px;
  }
  
  .dropdown a:hover {
    background-color: rgb(221, 221, 221);
  }
  
  .show {display: block;}