
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-sm-start fixed-top">
  >
      <!-- "navbar navbar-expand-lg navbar-dark bg-info justify-content-sm-start fixed-top" -->  
    <!-- <a class="navbar-brand  order-1 order-lg-0 ml-lg-0 ml-2 mr-auto" href="#">BOUTIKLINE</a> -->
    <img
      href="#"
      style="max-width: 100%; max-height: 70px;"
        src="{{
        !this.signaletic
            ? this.boutiqueContainer + 'logo-product.jpg'
            : this.boutiqueContainer + this.signaletic.logo
          }}"
    />

    <button class="navbar-toggler align-self-start" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class= "navbar-nav mr-auto">
               
        <li *ngIf="this.userrole === 'ADMIN'" class="nav-item dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
             <h3>BACK OFFICE</h3>
          </button>

          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <h4>Back Office</h4>
          </a> -->

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="produits">
              <h3>Gestion Produits</h3>
            </a>
            <a class="dropdown-item" routerLink="stocks">
              <h3>Gestion Stocks</h3>
            </a>
            <a class="dropdown-item" routerLink="pventes">
              <h3>Gestion Points vente</h3>
            </a>
            <a class="dropdown-item" routerLink="categories">
              <h3>Gestion Catégories</h3>
            </a>
            <a class="dropdown-item" routerLink="marques">
              <h3>Gestion Marques</h3>
            </a>
            <a class="dropdown-item" routerLink="custumers">
              <h3>Gestion Clients</h3>
            </a>
            <a class="dropdown-item" routerLink="gerants">
              <h3>Gestion Gérants</h3>
            </a>
            <a class="dropdown-item" routerLink="factures">
              <h3>Gestion Factures</h3>
            </a>
            <a class="dropdown-item" routerLink="cmdesclients">
              <h3>Gestion Commandes Clients</h3>
            </a>
            <a class="dropdown-item" routerLink="cmdesfournis">
              <h3>Gestion Commandes Fournisseurs</h3>
            </a>
            <a class="dropdown-item" routerLink="fournisseurs">
              <h3>Gestion Fournisseurs</h3>
            </a>
            <a class="dropdown-item" routerLink="promotions">
              <h3>Gestion Promotions</h3>
            </a>
            <a class="dropdown-item" routerLink="configurer">
              <h3>Configurer</h3>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <h3>Autres</h3>
            </a>

          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="accueil">
            <h3>Accueil</h3> <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="achats">
            <h3>Achats</h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="news">
            <h3>News</h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="promos">
            <h3>Promos</h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">
            <h3>Contact</h3>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <h3>A propos de nous</h3>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
              <h3>Qui sommes nous</h3>
            </a>
            <a class="dropdown-item" href="#">
              <h3>Nos services</h3>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <h3>Autres</h3>
            </a>
          </div>
        </li>
        <li *ngIf="this.authService.isAuthenticated() && this.useremail" class="nav-item">
          <div class="dropdown">
            <button (click)="dropdownToggle(); panierdropdown.refreshProduits();" class="dropbtn">Panier</button>
            <div id="myDropdown" class="dropdown-content">
              <app-panier-drop-down #panierdropdown [userId]="this.useremail"></app-panier-drop-down>
            </div>
          </div>
        </li>
        <li *ngIf="!this.authService.isAuthenticated()" class="nav-item">
          <a class="nav-link" routerLink="login">
            <h3>Login</h3>
          </a>
        </li>
        <li *ngIf="this.authService.isAuthenticated()" class="nav-item">
          <a class="nav-link" (click)="this.Logout()">
            <h3>Logout</h3>
          </a>
        </li>
        <li *ngIf="!this.authService.isAuthenticated()" class="nav-item">
          <a class="nav-link" routerLink="signup">
            <h3>S'inscrire</h3>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>