<router-outlet></router-outlet>
<br><br><br><br><br>

<br>
<div class="container-fluid">
  <h1 class="text-white" style="text-align: center; background-color:darkgreen;">GESTION DES COMMANDES CLIENTS</h1>
  <br>
  <hr>
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">
      <form #formcmdescli ="ngForm">  
                    <div class="form-group row">     
                      <label class="col-sm-2 col-form-label"><h4 class="text-black">COMMANDE N°:</h4></label> 
                      <div class="col-sm-10">
                          <!-- <input required name ="Id" #nom = "ngModel" [(ngModel)] = "formData.nom" placeholder ="nom"> -->
                      </div>    
                  </div>
                  <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><h4 class="text-black">CLIENT :</h4></label>
                        <div class="col-sm-10">
                            <input required  type="number" name ="clientId" #clientId = "ngModel" [(ngModel)] = "formData.clientId" class="form-control" placeholder ="">
                        </div>
                  </div>
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><h4 class="text-black">POINT VENTE :</h4></label>
                            <div class="col-sm-10">
                                <input required type="number" name ="pointventeId" #pointventeId = "ngModel" [(ngModel)] = "formData.pointventeId" class="form-control" placeholder ="">
                            </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"><h4 class="text-black">STATUT:</h4></label>
                      <div class="col-sm-10">
                          <input required  name ="statutCmde" #statutCmde = "ngModel" [(ngModel)] = "formData.statutCmde" class="form-control" placeholder ="statut commande">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label"><h4 class="text-black">TOTAL :</h4></label>
                      <div class="col-sm-10">
                          <input required type="number" name ="totalCmde" #totalCmde = "ngModel" [(ngModel)] = "formData.totalCmde" class="form-control" placeholder =""> 
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><h4 class="text-black">DATE :</h4></label>
                    <div class="col-sm-10">
                        <input required type="date" name ="dateCmde" #dateCmde = "ngModel" [(ngModel)] = "formData.dateCmde" class="form-control" placeholder ="date">
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"><h4 class="text-black">ADRESSE FACTURATION :</h4></label>
                  <div class="col-sm-10">
                      <input required  name ="adresseFact" #adresseFact = "ngModel" [(ngModel)] = "formData.adresseFact" class="form-control" placeholder ="Adresse de facturation">
                  </div>
              </div>
                    
      </form> 
    </div>   
        
        
        
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-2">
        
            <div class="col">
              <button [disabled] = "formcmdescli.invalid"  class="btn btn-success btn-block" (click) = "addCmdesclients(formcmdescli)"><h2>CREER</h2></button>
            </div>
            <br>
            <div class="col">
              <button type="button" class="btn btn-dark btn-lg btn-block" (click) = "resetButton(formcmdescli)"><h2>REINITIALISATION</h2></button>
            </div>
            <br>
            <div class="col">
                <button type="button" class="btn btn-danger btn-block"><h2>QUITTER</h2></button>
            </div>
            <br>
      
    </div>
  </div>
</div>
      
<div class="container-fluid">
  <table class="table table-striped">
  <thead style="background-color: darkseagreen;">
    <tr>
      <th scope="col">ID</th> 
      <th scope="col">CLIENT</th>
      <th scope="col">POINT DE VENTE</th>
      <th scope="col">STATUT</th>
      <th scope="col">TOTAL</th>
      <th scope="col">DATE</th>
      <th scope="col">ADRESSE FACTURATION</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <tr *ngFor = "let cmdeclient of lescmdesclients">
        <td>{{cmdeclient.Id}}</td>
        <td>{{cmdeclient.clientId}}</td>
        <td>{{cmdeclient.pointventeId}}</td>
        <td>{{cmdeclient.statutCmde}}</td>
        <td>{{cmdeclient.totalCmde}}</td>
        <td>{{cmdeclient.dateCmde}}</td>
        <td>{{cmdeclient.adresFact}}</td>
        <div class="col">
          <button type="button" class="btn btn-info">Détails</button>&nbsp;
          <button type="button" class="btn btn-success">Modifier</button>&nbsp;
          <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
    </tr>
  </tbody>
</table>
</div>












